@page
@model Rendelosch.Pages.CreateForm

@{
    ViewData["Title"] = "Új űrlap létrehozás";
}

<div class="container-lg mt-4 d-flex flex-row column-gap-5">
    @* Form editor *@
    <form method="post" id="form" class="w-50 d-flex flex-column mb-4">
        <p class="h3 mb-4 text-center">Űrlap adatai</p>
        <div class="mb-4">
            <label for="formTitleInput" class="form-label h5">Űrlap neve</label>
            <input type="text" id="formTitleInput" name="form_title" class="form-control">
        </div>
        <div class="mb-4">
            <label for="formFromDateInput" class="form-label h5">Kitöltési időszak</label>
            <div class="input-group mb-1">
                <input type="date" id="formFromDateInput" name="form_from_date" class="form-control"/>
                <input type="time" id="formFromTimeInput" name="form_from_time" class="form-control"/>
                <span class="input-group-text">-tól/-től</span>
            </div>
            <div class="input-group">
                <input type="date" id="formToDateInput" name="form_to_date" class="form-control"/>
                <input type="time" id="formToTimeInput" name="form_to_time" class="form-control"/>
                <span class="input-group-text">-ig</span>
            </div>
        </div>
        <div class="mb-4">
            <label for="formFieldName" class="form-label h5">Új mező</label>
            <input type="text" id="formFieldId" placeholder="Azonosító (pl.: abc_def, xyz)" class="form-control  mb-1"/>
            <input type="text" id="formFieldName" placeholder="Megnevezés (pl.: Méret, Mennyiség)" class="form-control mb-1"/>
            <button type="button" id="formNewFieldButton" class="btn btn-sm btn-outline-primary">+ mező hozzáadása</button>
        </div>
        <input type="submit" id="submitButton" value="Űrlap létrehozása" class="mt-auto btn btn-primary" />
    </form>
    
    @* Form preview *@
    <div class="w-50 d-flex flex-column mb-4">
        <p class="h3 mb-4 text-center">Előnézet</p>
        <div id="formPreview" class="card"></div>
    </div>
</div>

<script src="scripts/CreateForm.js"></script>