@page
@model Rendelosch.Pages.Index
@{
    ViewData["Title"] = "Index";
}

<div class="container-lg">
    <form method="post">
        <a class="btn btn-primary my-4">Új űrlap létrehozása</a>
    </form>
    <div>
        @{
            foreach (var productForm in Model.GetRepository().GetProductForms())
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex flex-row align-items-center">
                            <h5 class="card-title m-0 me-3">@productForm.Title</h5>
                            <a class="btn btn-outline-primary">Kitöltés</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>